.contact-section {
    padding: 100px 0;
    background-color: var(--light-color);
}

.contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 30px;
	column-gap: 150px;
	padding-left: 10%;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info-item i {
    font-size: 24px;
    color: var(--primary-color);
    margin-top: 5px;
}

.info-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.info-item p {
    color: var(--gray);
}

@media (max-width: 576px) {
    .contact-info {
        grid-template-columns: 1fr;
    }
    .contact-content {
        grid-template-columns: 1fr;
    }
}